/* Code By Webdevtrick ( https://webdevtrick.com ) */
html {
  background: #e8eaed;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: #00d308;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
}

.description {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"] {
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #00d308;
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  margin-bottom: 20px;
  display: block;
  font-size: 18px;
  color: #666;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  cursor: pointer;
}
label:first-child {
  margin-bottom: 0;
  border-bottom: none;
}

.button,
.oops,
.reStart {
  padding: 10px 20px;
  border-radius: 3px;
  background: #00d308;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
}
.button:hover,
.oops:hover,
.reStart:hover {
  background: #212121;
}
.button.reStart,
.oops.reStart,
.reStart.reStart {
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
  display: none;
}
.oops {
  background: #212121;
}
.help .reStart {
  display: inline-block;
}
.text-center {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.header, .header-categories {
  height: 45px;
  background: white;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-categories {
  height: 65px;
}
.header span {
  display: block;
  height: 12px;
  width: 12px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.header span.active {
  background: rgba(0, 0, 0, 0.4);
  background: #00d308;
}

.header-categories span {
  display: block;
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.header-categories span.active{
  border: 1px solid #00d308;
}
.header-categories span.audio {
  background: url("img/ico/inactive-rca-50.png") no-repeat center/ 50px;
}
.header-categories span.network {
  background: url("img/ico/inactive-wired-network-50.png") no-repeat center/ 45px;
}
.header-categories span.power {
  background: url("img/ico/inactive-electrical-50.png") no-repeat center/ 45px;
}
.header-categories span.volume {
  background: url("img/ico/inactive-audio-50.png") no-repeat center/ 45px;
}
.header-categories span.confirmation {
  background: url("img/ico/inactive-music-heart-50.png") no-repeat center/ 45px;
}

.header-categories span.audio.active {
  background: url("img/ico/active-rca-50.png") no-repeat center/ 50px 50px;
}

.fields {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.modal-body {
  background: white;
  padding: 40px 100px;
  box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  position: absolute;
  top: 0;
  display: none;
  box-sizing: border-box;
  width: 100%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.modal-body.is-showing {
  display: block;
}

.animate-out {
  -webkit-animation: out 600ms ease-in-out forwards;
          animation: out 600ms ease-in-out forwards;
}

.animate-in {
  -webkit-animation: in 500ms ease-in-out forwards;
          animation: in 500ms ease-in-out forwards;
  display: block;
}

.animate-up {
  -webkit-transform: translateY(-500px) rotate(30deg);
          transform: translateY(-500px) rotate(30deg);
}

.reStart a, .reStart a:hover, .reStart a:visited {
  text-decoration: none;
  color: #fff;
}
.reStart.reStart {
  display: inline-block;
}
li {
  margin-bottom: 1em;
}

@-webkit-keyframes out {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    -webkit-transform: translateY(800px) rotate(10deg);
            transform: translateY(800px) rotate(10deg);
  }
}

@keyframes out {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    -webkit-transform: translateY(800px) rotate(10deg);
            transform: translateY(800px) rotate(10deg);
  }
}
@-webkit-keyframes in {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes in {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}